{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>Über die Gemeinde Jesu Christi</h1>
<h3>
    <p>Die Gemeinde in Stuttgart ist eine christliche Gemeinschaft, die den Lehren von Watchman Nee und Witness Lee folgt. Sie legt großen Wert auf Gemeinschaft, Bibelstudium und Gebet. Die Gemeinde versteht sich als die wahre Ortsgemeinde in Stuttgart.

    Adresse:
    Filderhauptstraße 61 B,
    70599 Stuttgart, Deutschland

    Telefon: +49 711 457790
    E-Mail: info@diegemeinde-instuttgart.de
    Webseite: diegemeinde-instuttgart.de
    </p>
</h3>

{% endblock %}
